<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cfeng.study.healthy_food">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme"
        >
        <activity android:theme="@style/AppTheme.NoActionBar" android:name=".ProductInfoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity  android:theme="@style/AppTheme.NoActionBar" android:name=".NewActivity" />
        <activity  android:theme="@style/AppTheme.NoActionBar" android:name=".FoodCheckActivity" />
        <activity android:theme="@style/AppTheme.NoActionBar"  android:name=".WuliuActivity" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".ProductActivity" />
        <activity android:theme="@style/AppTheme.NoActionBar" android:name=".WebViewActivity" />
        <activity android:theme="@style/AppTheme.NoActionBar" android:name=".ConnectMeActivity" />
    </application>

</manifest>